<fa-app style="height: 568px; width: 320px; margin: 0;">
  <fa-drawer-layout id="drawer-layout" fa-drawer-length="240" fa-side="'left'">
    <fa-modifier fa-translate="[0, 0, 0.001]">
      <fa-surface fa-color="'#FFF'" fa-background-color="'silver'" fa-click="open()">Content</fa-surface>
    </fa-modifier>
    <fa-modifier fa-translate="[0, 0, 0.001]">
      <fa-surface fa-color="'#FFF'" fa-background-color="'gray'" fa-click="close()">Drawer</fa-surface>
    </fa-modifier>
  </fa-drawer-layout>
</fa-app>
